contourpy==1.2.0
copulas==0.10.0
coverage==7.3.2
cycler==0.12.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fonttools==4.45.0
importlib-resources==6.1.1
iniconfig==2.0.0
joblib==1.3.2
kiwisolver==1.4.5
llvmlite==0.41.1
matplotlib==3.8.2
numba==0.58.1
numpy==1.26.2
openpyxl==3.1.2
packaging==23.2
pandas==2.1.3
patsy==0.5.3
Pillow==10.1.0
plotly==5.18.0
pluggy==1.3.0
py-agata==0.0.5
pyparsing==3.1.1
pytest==7.4.3
pytest-cov==4.1.0
python-dateutil==2.8.2
pytz==2023.3.post1
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
six==1.16.0
statsmodels==0.14.0
tenacity==8.2.3
threadpoolctl==3.2.0
tomli==2.0.1
tqdm==4.66.1
tzdata==2023.3
zeus-mcmc==2.5.4
zipp==3.17.0
