build==1.0.3
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
copulas==0.10.0
coverage==7.4.0
cycler==0.12.1
docutils==0.20.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fonttools==4.47.2
ghp-import==2.1.0
griffe==0.39.1
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
iniconfig==2.0.0
jaraco.classes==3.3.0
Jinja2==3.1.3
joblib==1.3.2
keyring==24.3.0
kiwisolver==1.4.5
llvmlite==0.41.1
Markdown==3.5.2
markdown-callouts==0.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.4
matplotlib==3.8.2
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-autorefs==0.5.0
mkdocs-gen-files==0.5.0
mkdocs-literate-nav==0.6.1
mkdocs-section-index==0.3.8
mkdocstrings==0.24.0
mkdocstrings-crystal==0.3.7
mkdocstrings-python==1.8.0
more-itertools==10.2.0
mpi4py==3.1.5
nh3==0.2.15
numba==0.58.1
numpy==1.26.3
openpyxl==3.1.2
packaging==23.2
pandas==2.1.4
pathspec==0.12.1
patsy==0.5.6
pillow==10.2.0
pkginfo==1.9.6
platformdirs==4.1.0
plotly==5.18.0
pluggy==1.3.0
py-agata==0.0.5
py_replay_bg==0.0.5
Pygments==2.17.2
pymdown-extensions==10.7
pyparsing==3.1.1
pyproject_hooks==1.0.0
pytest==7.4.4
pytest-cov==4.1.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyyaml_env_tag==0.1
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.0
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.1
six==1.16.0
statsmodels==0.14.1
tenacity==8.2.3
threadpoolctl==3.2.0
tomli==2.0.1
tqdm==4.66.1
twine==4.0.2
tzdata==2023.4
urllib3==2.1.0
watchdog==3.0.0
zeus-mcmc==2.5.4
zipp==3.17.0
