$light-accent-color: #990000;
$dark-accent-color: #fa0000;
$vp-c-accent: (
  light: $light-accent-color,
  dark: $dark-accent-color,
);
  $vp-c-accent-bg: (
  light: $light-accent-color,
  dark: $dark-accent-color,
);
  $vp-c-accent-hover: (
  light: $light-accent-color,
  dark: $dark-accent-color,
);

